---
---

@import "{{ site.theme }}";

.markdown-body {
  background: #1D1E22;
  color: #eee;
  font-size: 0.8em !important;
}

a {
  color: #e90;
}

pre, code, .highlighter-rouge {
  background: #2D2E32 !important;
}
