---
---

@import "{{ site.theme }}";

body, .markdown-body {
  background: #1D1E22;
  color: #ccc;
  font-size: 18px !important;
}

a {
  color: #e90;
}

b, strong, i, em {
  color: #fff !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  border-bottom: 0px !important;
  color: #fff !important;
}

.markdown-body hr {
  background-color: #ddd !important;
}

pre, code, .highlighter-rouge {
  background: #2D2E32 !important;
}

.highlight .c1 {
  color: #0af !important;
  font-style: italic;
}

.highlight .n {
  color: #fc0 !important;
  font-style: italic;
}

.highlight .nc {
  color: #09f !important;
  font-weight: bold;
}

.highlight .mi {
  color: #9d0 !important;
}

.highlight .kt {
  color: #b50 !important;
  font-weight: bold;
}

.highlight .k, .highlight .kv {
  color: #ffffff !important;
  font-weight: bold;
}

.highlight .nb {
  color: #00A6D3 !important;
}

.markdown-body blockquote {
  color: #aab3bd !important;
}

.highlight .o {
  color: #ffffff !important;
  font-weight: bold;
}
